:root {
  --myRed: #ba3b46;
  --myOrange: #ED9B40;
  --myOrangeAlt: #F6D1A8;
  --myWhite: #FFEEDB;
}

.bg-myPrimary {
   background-color: var(--myRed);
}
.bg-myWhite {
   background-color: var(--myWhite);
}
.color-myPrimary {
   color: var(--myOrange);
}
.color-myWhite {
   color: var(--myWhite);
}
.navbar-custom a {
   color: var(--myWhite);
}
.navbar-custom a:hover {
   color: var(--myOrange);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,238,219)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255,238,219);
}
