<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>DevWeb</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body class="bg-myWhite">
     <nav class="navbar navbar-expand-lg navbar-custom bg-myPrimary">
        <div class="container">

           <a href="/" class="navbar-brand">DevWeb</a>
           <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="color-myWhite navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                   <a href="/courseOutline" class="nav-link disabled">Course outline</a>
                </li>

              </ul>
              <a href="/login" class="nav-link">login</a>
              <a href="/register" class="nav-link">register</a>
           </div>
        </div>
     </nav>
     <div class="container bg-myWhite">
        <h1>TEST</h1>
     </div>

     <!-- SCRIPTS -->
     <script type="text/javascript" src="/jquery.min.js"></script>
     <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
